<section>
    <a name="contact"></a>
    <h2>
        Get In Touch
    </h2>

    <p>
        Some text
    </p>

    <div class="row">
        <div class="8u 12u$(small)">
            <form method="post" action="">
                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" required="required" name="name" id="name" placeholder="Name" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" required="required" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="12u$">
                        <textarea name="message" required="required" id="message" placeholder="Message" rows="4"></textarea>
                    </div>
                </div>

                <ul class="actions">
                    <li>
                        <br />
                        <input type="submit" value="Send Message" />
                    </li>
                </ul>
            </form>
        </div>
    </div>

</section>
